{
  "env": {
    "es6": true,
    "browser": true,
    "jasmine": true,
    "protractor": true,
    "node": true,
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "comment": true,
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "plugins": ["prettier", "react", "@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier/typescript",
    "prettier/react"
  ],
  "rules": {
    "indent": "off",
    "react/no-unescaped-entities": ["error", { "forbid": [">", "}"] }],
    "@typescript-eslint/indent": ["error", 2, { "SwitchCase": 1, "VariableDeclarator": 2 }],
    "@typescript-eslint/explicit-member-accessibility": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
