// PF4 variables
// :root {
//   --pf-global--font-path: '~@patternfly/patternfly/assets/fonts';
//   --pf-global--image-path: '~@patternfly/patternfly/assets/images';
//   --pf-global--fonticon-path: '~@patternfly/patternfly/assets/pficon';
// }
// Using scss variable alternatives instead of css variables ^
$fa-font-path: '~@patternfly/patternfly/assets/fonts/webfonts';
$pf-global--font-path: '~@patternfly/patternfly/assets/fonts';
$pf-global--image-path: '~@patternfly/patternfly/assets/images';
$pf-global--fonticon-path: '~@patternfly/patternfly/assets/pficon';
// $pf-global--FontSize--md: 14px;
