// PF4 variables
$fa-font-path: '~@patternfly/patternfly-next/assets/fonts/webfonts';
$pf-global--font-path: '~@patternfly/patternfly-next/assets/fonts';
$pf-global--image-path: '~@patternfly/patternfly-next/assets/images';
$pf-global--fonticon-path: '~@patternfly/patternfly-next/assets/pficon';
// $pf-global--FontSize--md: 14px;
