@import './variables';

// Importing just base styles, component styles are included in individual components
@import '~@patternfly/patternfly-next/patternfly-base';
@import '~@patternfly/patternfly-next/patternfly-addons';
