.host-row-detail {
  margin-left: var(--pf-global--spacer--xl) !important;
}

.host-row-detail .host-row-detail__section:not(:first-of-type) {
    margin-top: var(--pf-global--spacer--xl) !important;
}

.host-row-detail-item__title {
  font-weight: var(--pf-global--FontWeight--bold) !important;
}
